<!doctype html>
<html>
    <style>
        .error{
            color:red
        }
    </style>
    <head>
        <title>{{title}}</title>
    </head>
<body>

        <div>
            <a href='/blog'>All Blogs</a>
        </div>
        <div>
            <a href='/newpost'>Add Blog</a>
        </div>    
        <div>
            <a href='/signup'>Sign Up</a>
        </div>
        <div>
            <a href='/login'>Login</a>
        </div>    
    {% with messages = get_flashed_messages()%}
      
            <ul>
            {% for message in messages%}
                <li> {% {{message}}%} </li>
            {% endfor %}
            </ul>
            
    {% block content %}
    {% endblock %}

</body>
</html>