<!doctype html>
<html>
    <style>
        .error{
            color:red
        }
    </style>
    <head>
        <title>{{title}}</title>
    </head>
<body>

        <div>
            <a href='/blog'>All Blogs</a>
        </div>
        <div>
            <a href='/newpost'>Add Blog</a>
        </div>    
        <div>
            <a href='/signup'>Sign Up</a>
        </div>
        <div>
            <a href='/login'>Login</a>
        </div>
        <div>
                <a href='/logout'>Login</a>
            </div>        
    {% with messages = get_flashed_messages(with_categories=True) %}
      
            <ul>
            {% for category,message in messages%}
                <li class="{{category}}"> {{message}} </li>
            {% endfor %}
            </ul>
     {% endwith %}
            
    {% block content %}
    {% endblock %}

</body>
</html>